<h1 class="h2 my-2 welcome-message text-center logo-style mt-5">
  BIENVENUE,CHER ADMIN !
</h1>
<div class="justify-content-column align-items-column mt-3">
  <h2 class="text-center">
    Ensemble, optimisons la gestion pour une expérience de formation fluide et
    efficace
  </h2>
  <div class="col-lg-12 mt-5">
    <div class="row tab-content">
      <div
        id="list-view"
        class="tab-pane fade active show col-lg-12"
        role="tabpanel"
      >
      <div class="row mt-3 align-items-center justify-content-center">
        <div class="col-md-6">
          <h4 class="text mt-3">Liste des formations</h4>
        </div>
        <div class="col-md-6 text-end">
          <button type="button" class="btn btn-more" routerLink="/dashboard/catalogues/formations">Voir +</button>
        </div>
      </div>
        <div class="table-responsive mt-3">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="head-title">Photo</th>
                <th scope="col" class="head-title">Intitulé</th>
                <th scope="col" class="head-title">Description</th>
                <th scope="col" class="head-title">Date création</th>
                <th scope="col" class="head-title">Prix</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let training of listeFormation| paginate: {
                    itemsPerPage: 20,
                    currentPage: page,
                   }; "
              >
                <td>
                  <img
                    [src]="'data:image/png;base64,' + training.logo"
                    class="rounded-circle"
                    width="80"
                    height="80"
                    alt=""
                  />
                </td>
                <td>{{ training.title }}</td>
                <!-- Utilisez le champ approprié pour le titre de la formation -->
                <td>{{ getSubString(training.description) }}</td>
                <!-- Utilisez le champ approprié pour la description de la formation -->
                <td>{{ training.creationDate | date : "dd-MM-yyyy" }}</td>
                <!-- Utilisez le champ approprié pour la date de la formation -->
                <td>{{ training.trainingPrice }} €</td>
                <!-- Utilisez le champ approprié pour le prix de la formation -->
              </tr>
            </tbody>
          </table>
         
        </div>
        <div class="row mt-3">
          <div class="col-md-4 text-end" style="float: right; width: 100%;">
            <pagination-controls
              (pageChange)="handlePageChange($event)"
              (pageBoundsCorrection)="handlePageChange($event)"
              previousLabel="Précédent"
              nextLabel="Suivant"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="Vous êtes à la page"
            >
            </pagination-controls>
          </div>
        </div>
      </div>
      <div class="container-fluid waiting" *ngIf="isLoading">
        <span class="spinner-border"></span>
      </div>
    </div>
  </div>
</div>